<!DOCTYPE html>
<html lang="ko">
  <head>
    <title>글쓰기 페이지</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <h1>글쓰기 페이지</h1>
    <form method="POST">
      {% csrf_token %}
      <h2>제목</h2>
      <br />
      <input type="text" name="postname" />
      <h2>내용</h2>
      <br />
      <textarea name="contents" rows="10" cols="50"></textarea>
      <br />
      <input type="file" name="mainphoto" />
      <br />
      <input type="submit" value="글쓰기" />
    </form>
    <a href="/blog/">목록</a>
  </body>
</html>
